name: Trigger auto deployment for media-server-container

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/media-server-container-AutoDeployTrigger-39c6d847-bb49-4c01-b27e-535564f205e1.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.MEDIASERVERCONTAINER_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.MEDIASERVERCONTAINER_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.MEDIASERVERCONTAINER_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: caacr2025.azurecr.io
          registryUsername: ${{ secrets.MEDIASERVERCONTAINER_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.MEDIASERVERCONTAINER_REGISTRY_PASSWORD }}
          containerAppName: media-server-container
          resourceGroup: confidential-attachments
          imageToBuild: caacr2025.azurecr.io/media-server-container:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


